<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="/forgotPassword" method="post">
    <label>
       Email: <input type="email" placeholder="enter your email" name="uEmail">
    </label>
    <label>
       Password: <input type="password" placeholder="enter your new password" name="uPassword">
    </label>
    <button type="submit">Submit</button>
   </form> 
</body>
</html>