<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    <h1>this is ejs file</h1>
    <!-- <form action="/signup" method="post">
        <label>
            Email:<input type="email" placeholder="enter your email" name="uEmail">
            Password:<input type="password" placeholder="enter your email" name="upassword">
        </label>
        <button type="submit">Submit</button>
    </form> -->
</body>
</html>